.table {
    margin: 150px auto;
    width: 50%;
}

h1 {
    margin: 10px auto;
    width: 200px;
}

th, td {
    padding: 10px;
}

th {
    background: #800053;
    color: #fff;
}

td {
    background: #eeabd6;
}

.links {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 10px 0;
}

.link {
    background: #eeabd6;
    padding: 10px;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    width: 100px;
    text-align: center;
}

.link:hover {
    background: #ff8ad4;
}

#bottom {
    display: block;
}

